{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Welcome to my corner of the web! I’m Isaac Da Vinci, a multidisciplinary creator with a passion for engineering, design, and innovation. My journey bridges the worlds of coding, robotics, and creative problem-solving, as I constantly strive to turn ideas into reality. With a love for learning and an eye for detail, I enjoy crafting solutions that are as functional as they are inspiring.
        </p>
        <p>
          As a budding aerospace engineering student and an avid programmer, I’m always working on projects that challenge me to push boundaries. From building responsive websites to experimenting with robotics and automation, I thrive on bringing concepts to life through technology. My goal is to merge creativity and logic, exploring the endless possibilities of human ingenuity.
        </p>
        <p>
          When I’m not immersed in code or engineering, you’ll find me sketching new ideas, diving into books on science and design, or brainstorming the next big thing. I believe every challenge is an opportunity to learn, and I’m excited to share my projects and passions with the world. Let’s create something extraordinary together!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
